<?xml version="1.0" encoding="utf-8"?>
<!-- installLocation="auto" allows the app to be installed on external storage, default is internal only. No reason not to allow. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hackman.trevor.copycat"
    android:installLocation="auto"
    tools:ignore="GoogleAppIndexingWarning">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- To test on watches: <uses-feature android:name="android.hardware.type.watch"/> -->

    <application
        android:resizeableActivity="true"
        android:supportsPictureInPicture="false"
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:targetApi="n">
        <meta-data android:name="android.max_aspect" android:value="3" /> <!-- This is critical b/c default is 16/9, app does not stretch to fill screens of phones wider than this -->
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false" /> <!--disable crashlytics by default so that I can conditionally enable it onCreate-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9667393179892638~7004321704"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="user"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|screenLayout|density|smallestScreenSize"> <!-- This line is essential, prevents reloads on these changes -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7c414c329f4e2ac275ac7a0c78f70f79025b5206" />

        <uses-library android:name="org.apache.http.legacy" android:required="false"/> <!-- Temp required to fix adMob crash
        https://groups.google.com/forum/?hl=Es-419#!category-topic/google-admob-ads-sdk/android/K1HKru7RutY -->
    </application>

</manifest>